body{
    background-color: rgb(255, 255, 0); /* Коментарий*/
    
}
h2{
    text-align: center;
    text-decoration: underline;
}
.group{
    font-style: italic;
    color: green;
    text-decoration: line-through;
}
.kurs{
    text-align: center;
}
.wl{
    text-align: left;
    color: rgb(0, 0, 255);
    font-weight: bold;

}
.img{
    text-align: left; 
    width: 120px;
    height: 120px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }

.table td {
	padding: 5px;
}
.form{
    width: 350px;
}
.row{
    display: grid;
    grid-template-columns: 150px 200px;
}
.button{
    text-align: end;
}
