/*
Мобильные устройства высокого класса (смартфоны) — от 320 px.
*/

@media (min-width:320px) and (max-width:767px){

    header,
    footer {
        display: flex;
    
        justify-content: center;
        background-color: #f1f1f1;
        border: #d2d2d2 solid; /* Цвет границы */
        padding: 5px; /* Поля вокруг текста */
        margin: 10px;
    }
    .line_1,
    .line_2,
    .line_4,
    .line_5,
    .line_6, 
    .line_3 {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-areas:
        'b1 b1 b3'
        'b2 b2 b3'
        ''
      'b6 b7 b8 b9'
      'b10 b11 b12 b9';
        grid-gap: 10px;
        background-color: #fff;
        color: #444;
    }
    .b1 { grid-area: b1; }
    .b2 { grid-area: b2; }
    .b3 { grid-area: b3; }
    .b4 { grid-area: b4; }
    .b5 { grid-area: b5; }
    .b6 { grid-area: b6; }
    .b7 { grid-area: b7; }
    .b8 { grid-area: b8; }
    .b9 { grid-area: b9; }
    .b10 { grid-area: b10; }
    .b11 { grid-area: b11; }
    .b12 { grid-area: b12; }
    .b13 { grid-area: b13; }
    .b14 { grid-area: b14; }
    .b15 { grid-area: b15; }
    .b16 { grid-area: b16; }
    .b17 { grid-area: b17; }
    .b18 { grid-area: b18; }
    .block{
        border: #6e6e6e solid; /* Цвет границы */
        padding: 5px; /* Поля вокруг текста */
        background-color: #f1f1f1;
        margin: 10px 10px 0px 10px;
        font-size: 1em;
    }

}
